@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QI96.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7eOQI96.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7diR496.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7dbR496.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7c8R496.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-2fRUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-NfNUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-DPNUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-a_NUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QI96.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7eOQI96.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7diR496.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7dbR496.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7c8R496.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-2fRUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-NfNUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-DPNUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v30/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-a_NUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u-w4BMUTPHjxsIPy-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI9w2PHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHjxswWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI5wqPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI3wiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHh30wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50Xew8.ttf) format('truetype');
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: sans-serif;
  font-size: 16px;
  height: 100vh;
}
header {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100vw;
}
header figure {
  height: 45px;
  width: 45px;
  padding-top: 0.5rem;
  padding-left: 10px;
}
header figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (orientation: landscape) and (min-width: 700px) {
  header figure {
    height: 35px;
    width: 35px;
  }
}
@media screen and (orientation: landscape) and (min-width: 1000px) {
  header figure {
    height: 45px;
    width: 45px;
  }
}
header .logo {
  font-family: "EB Garamond", serif;
  padding: 0.75rem 10px 0.5rem 10px;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.25rem;
  color: #FAF8FF;
}
@media (min-width: 1000px) {
  header .logo {
    padding: 0.5rem 10px;
    font-size: 1.75rem;
  }
}
@media screen and (orientation: landscape) and (min-width: 700px) {
  header .logo {
    padding: 0.5rem 10px;
    font-size: 1.25rem;
    color: #161616;
  }
}
@media screen and (orientation: landscape) and (min-width: 1000px) {
  header .logo {
    font-size: 1.75rem;
  }
}
@media screen and (orientation: landscape) and (min-width: 700px) {
  #landing {
    display: flex;
    flex-direction: row-reverse;
  }
}
#landing .landing_img {
  background-image: url("../imgs/hero_img_main.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (orientation: landscape) and (min-width: 700px) {
  #landing .landing_img {
    height: 100vh;
    width: 45vw;
  }
}
#landing .landing_content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (orientation: portrait) {
  #landing .landing_content {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 3rem;
  }
}
@media screen and (orientation: landscape) and (min-width: 700px) {
  #landing .landing_content {
    justify-content: flex-start;
    height: 100vh;
    width: 55vw;
    position: relative;
    padding: 0 10px;
    text-align: left;
    background-color: #FAF8FF;
  }
}
@media screen and (orientation: landscape) and (min-width: 1000px) {
  #landing .landing_content {
    padding-left: 2rem;
  }
}
#landing h1 {
  color: #FAF8FF;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
  line-height: normal;
}
@media screen and (orientation: portrait) and (min-width: 700px) {
  #landing h1 {
    font-size: 2rem;
  }
}
@media screen and (orientation: portrait) and (min-width: 1000px) {
  #landing h1 {
    font-size: 2.5rem;
  }
}
@media screen and (orientation: landscape) and (min-width: 700px) {
  #landing h1 {
    color: #161616;
  }
}
@media screen and (orientation: landscape) and (min-width: 1000px) {
  #landing h1 {
    font-size: 2.5rem;
  }
}
#landing .l_txt {
  font-size: 1.15rem;
}
@media screen and (orientation: portrait) and (min-width: 700px) {
  #landing .l_txt {
    font-size: 1.5rem;
  }
}
@media screen and (orientation: landscape) and (min-width: 900px) {
  #landing .l_txt {
    font-size: 1.25rem;
  }
}
@media screen and (orientation: landscape) and (min-width: 1000px) {
  #landing .l_txt {
    font-size: 1.75rem;
  }
}
#landing .action_btn {
  display: block;
  background-color: #8685EF;
  color: #FAF8FF;
  font-family: "ED Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  width: 70%;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  font-size: 1.15rem;
}
@media screen and (orientation: landscape) and (min-width: 700px) {
  #landing .action_btn {
    width: 50%;
    margin: 1rem 0;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1rem;
    box-shadow: 5px 5px #161616;
  }
}
@media screen and (orientation: landscape) and (min-width: 900px) {
  #landing .action_btn {
    margin: 1.25rem 0;
    font-size: 1.15rem;
  }
}
@media screen and (orientation: landscape) and (min-width: 1000px) {
  #landing .action_btn {
    margin: 2rem 0;
    font-size: 1.5rem;
  }
}
footer {
  background: #8685EF;
  color: #FAF8FF;
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 700px) {
  footer {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
  }
}
footer .socials {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 0.75rem 0;
}
@media (min-width: 700px) {
  footer .socials {
    width: auto;
    padding: 1.5rem 1rem 1.5rem 0;
  }
}
footer a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: #FAF8FF;
}
footer .copyright {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 0.75rem 0;
}
@media (min-width: 700px) {
  footer .copyright {
    width: auto;
    padding-right: 1rem;
    align-items: center;
  }
}
